
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
}

.Main-Content {
  flex: 1; /* This will make the Main-Content section occupy all available space in the middle */
  display: flex;
}

.content {
  flex: 1; /* This will make the 'content' section take the available space within the Main-Content */
  display: flex;
  flex-direction: column;
}

.inner-content {
  flex: 1; /* This will make the 'inner-content' section take the available space within the content section */
  padding: 20px; /* Add some padding to give some space between the content and the edges */
  overflow-y: auto; /* Enable vertical scrolling if the content overflows */
}

body {
  font-family: Montserrat, sans-serif;
}

/* App.css */
.InteractiveToolsSearch__select__control {
  display: flex;
  align-items: center;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  padding: 5px;
  background-color: #bdc3c7;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

.InteractiveToolsSearch__select__value-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.InteractiveToolsSearch__select__placeholder {
  color: #999;
}

.InteractiveToolsSearch__select__input {
  display: inline-block;
  width: 2px;
  background: 0px center;
  border: 0px;
  font-size: inherit;
  opacity: 1;
  outline: 0px;
  padding: 0px;
  color: inherit;
}

.InteractiveToolsSearch__select__indicators {
  display: flex;
  align-items: center;
}

.InteractiveToolsSearch__select__indicator-separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 5px;
}

.InteractiveToolsSearch__select__indicator-wrapper {
  display: flex;
  align-items: center;
}

/* App.css */
.Typeahead {
  position: relative;
}

.Typeahead__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Rubik,
}
.input-field {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
/* Add this CSS to your CSS file or HTML <style> tag */
.ToolsResultsRows {
  margin-top: 20px;
}

.ToolResults_row {
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin-bottom: 10px;
}

.ToolResults_row:hover {
  background-color: #F9F9F9;
}

.ToolResults_row_name h4 {
  margin: 0;
}

.ToolResults_row_details {
  padding-top: 5px;
}

.bold {
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.provider-card h2 {
  margin: 0;
  font-size: 1.5em;
}

.provider-card p {
  margin: 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Common styles for both states */
.user-info img {
  width: 100px; /* Initial width */
  height: 100px; /* Initial height */
  object-fit: cover;
  border-radius: 80%;
  display: block;
  margin: 0 auto;
}

/* Media query for when the browser is minimized (max-width: 600px) */
@media screen and (max-width: 600px) {
  .user-info img {
    width: 30px; /* Adjust the size as needed when the browser is minimized */
    height: 30px;
  }
}

.label-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.label-button:hover {
  background-color: #2e2929;
}

.label-button .icon {
  margin-right: 5px;
}

.label-button .label {
  font-size: 14px;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-info .item-container {
  margin-top: 10px;
}

/* Add custom styles for the sidebar menu items */
.CDBSidebarMenuItem {
  transition: all 0.3s ease; /* Add transition for smooth effect */
  cursor: pointer; /* Change cursor to pointer on hover */
  border: 2px solid transparent; /* Add a transparent border */
  border-radius: 25px;
}

/* Apply styles on mouse hover */
.CDBSidebarMenuItem:hover {
  background-color: #11315a; /* Change background color on hover */
  border-color: #fff; /* Change border color on hover */
  border-radius: 25px; /* Optional: Add border-radius to make it look nicer */
}


/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #11315a;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}

/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}

/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}

/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.icon-container {
  display: flex;
}

.icon-button {
  margin-right: 10px;
}

.settings-icon {
  color: #4caf50;
}

.button {
display: flex;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 8px;
height: 36px;
width: 120px;
border: none;
background: #5e41de33;
border-radius: 20px;
cursor: pointer;
}

.lable {
line-height: 20px;
font-size: 17px;
color: #5D41DE;
font-family: sans-serif;
letter-spacing: 1px;
}

.button:hover {
background: #5e41de4d;
}

.button:hover .svg-icon {
animation: spin 2s linear infinite;
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}

100% {
  transform: rotate(360deg);
}
}

